fastapi == 0.115.0
uvicorn == 0.31.0
SQLAlchemy == 2.0.35
passlib[bcrypt]
psycopg2-binary == 2.9.9
pyjwt == 2.9.0
python-dotenv == 1.0.1
pydantic[email] == 2.2.0
python-multipart == 0.0.12
fastapi_auth_middleware
Requests